.login_sekai{
    margin-top: 50px;
}
/*.table_list_user{*/
    /*margin-top: 200px;*/
/*}*/
.h1_list_user{
    padding: 20px;
}
.button_create_list_user{
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.label_form_sekai{
    margin-top: 27px;
}
.row_detail_foreign{
    margin-top: 30px;
    margin-bottom: 30px;
   /* border-left: 3px solid #da5;*/
    margin-left:10px;
}
.row_create_report{
    /*margin-top: 30px;*/
    margin-bottom: 30px;
    /* border-left: 3px solid #da5;*/
}
/*.row_detail_foreign:last-child{*/
    /*margin-top: 0px;*/
    /*margin-bottom: 30px;*/
    /*margin-left:10px;*/
    /*border-left: none;*/
/*}*/
.img-border{
    border: 1px solid black;
}
.po_a{
    text-decoration: none;
}
.btn_login_company{
    margin-top: 10px;
}

div.po_div_table {
    width: 1052px;
    overflow-x: auto;
    margin-left: 165px;
    overflow-y: hidden;
    padding-bottom: 1px;
    /*border-right: solid 1px #dddddd;*/
}

table.sticky td, table.sticky th {
    margin:0;
    /*border:1px solid grey;*/
    /*border-top-width:0px;*/
    white-space:nowrap;
    max-width: 250px;
    min-width: 150px;
    height: 40px;
    text-align: center;
    vertical-align: middle!important;
}
th.headcol{
    padding-top: 8px;
}

.headcol {
    position:absolute;
    width:150px;
    left:15px;
    top:auto;
    /*border-right: 0px none black;*/
    /*border-top-width:3px; !*only relevant for first row*!*/
    margin-top:-3px; /*compensate for top border*/
}
.headcol{}
td.long{width: 300px!important;}
table.sticky tr:first-child th:first-child {
    border: none;
}

#btn_submit_po{
    display: block;
    cursor: pointer;
    width: 240px;
    color: #fff;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #da5;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    top: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #b83;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#btn_submit_po:hover{
    top: 25px;
    box-shadow: 0 0 0 #b83;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.note_product{
    color: #888;
    font-size: 12px;
    padding: 10px 0 0;
}
.row_list_request{
    margin-bottom: 25px;
}
.table_contact_po tr td:first-child{
    background-color: #fafafa;
    vertical-align: middle;
}
.table_contact_po tr td:last-child{
    padding: 20px;
}
.container_contact{
    margin-top: 100px;
}

#po_ul_parent li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    position: relative;
}
#po_ul_parent>li:hover{
    background-color: #fafafa;
}
#po_ul_child>a>li:hover{
    background-color: #DDDDDD;
}

#po_ul_parent>li>a::after{
    /*display: block;*/
    /*width: 6px;*/
    /*height: 6px;*/
    /*border-top: 1px solid #888;*/
    /*border-right: 1px solid #888;*/
    /*margin-top: -4px;*/
    /*position: absolute;*/
    top: 30%;
    right: 10px;
    /*-webkit-transform: rotate(45deg);*/
    /*transform: rotate(45deg);*/
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;

}
#po_submenu::after{
    /*content: "\f105";*/
    top: 30%;
    right: 10px;
    /*content: "\f105";*/
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*position: absolute;*/
}
#po_span_sub>i{
    position: absolute;
    top: 1%;
    right: 0px;
}
#po_li_a_child{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.sub_menu_class>span{
    height: 100%;
    width: 100%;
}
#po_span_sub{
    height: 100%;
    width: 100%;
    padding:3px;
    position: relative;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
#po_ul_child li{
    border-bottom: none;
}
.class_fa_i{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.po_active{
    background-color: #3caa00;
}
.po_active>a{
    color: white !important;
}
.nav>li>a>img {
    margin-right: 10px !important;
    vertical-align: middle;
}
body {
    font-family: Arial !important;
}
#imagesmain:hover{
    cursor: pointer;
}
#images1:hover{
    cursor: pointer;
}
#images2:hover{
    cursor: pointer;
}
#images3:hover{
    cursor: pointer;
}
#images4:hover{
    cursor: pointer;
}

.po_pagination .pagination{
    margin: 0px;
}
#return-to-top {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.fa-chevron-down {
    position: absolute;
    right: 10px;
}

.fa-chevron-up {
    position: absolute;
    right: 10px;
}

.rotate{
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.rotate.down{
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

#index-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: #000;
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

#index {
    width: 100%;
    height: 100%;
    /*background: url("images/dot-3x3.png");*/
    position: relative;
}

#index-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}

/* an_tnh_sc_130_start */
/* Popup register confirm */
.popup_wrapp { width: 100%; height: 100%; opacity: .95; top: 0; left: 0; display: none; position: fixed; overflow: auto; background-color: #313131; z-index: 999; }
.popup_content { text-align: center; opacity: 1; position: absolute; left: 35%; top: 35%; font-family: 'Raleway', sans-serif; max-width: 30%; min-width: 250px; padding:10px 50px; border: 2px solid gray; border-radius: 10px; font-family: raleway; background-color: #FEFFED; z-index: 9999; }
.popup_content h3 { padding: 10px; }
.popup_content button { width: 100px !important; height: 50px; margin-right: 5px; height: 40px; min-height: 0px !important; }
._register { background: #40a28b; color: #fff; border: none; border-radius: 3px; }
/* an_tnh_sc_130_end */