#categorise {
}

#categorise ul {
	letter-spacing: -.40em;
}

#categorise ul li {
	letter-spacing: normal;
	display: inline-block;
	width: 250px;
	margin: 0 5px 15px;
}

#categorise ul li a {
	display: block;
	text-align: center;
	color: #145;
    text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

#categorise ul li a:hover {
	color: #0af;
}

#categorise ul li span {
	display: block;
}

#categorise ul li span.text {
	margin: 5px 0 0;
}

#categorise i {
    width: 1em;
    text-align: center;
    margin: 0 0.5em 0 0;
}

@media screen and (max-width: 800px) {
	#categorise ul li {
	display: inline-block;
	width: 48%;
	margin: 0 1% 3%;
}
}