@charset "utf-8";

/* ==============================================================================

	footer

============================================================================== */

footer {
    width: 100%;
}

#ftrContent {
    width: 1000px;
    float: right;
}

@media screen and (max-width: 800px) {

    #ftrContent {
        width: 100%;
        float: none;
    }

}

/* Footer Navigation
---------------------------------------------------------- */

#ftrNav {
    overflow: hidden;
    padding: 10px;
}

footer dl {
    width: 25%;
    padding: 10px;
    float: left;
}

footer dl dt {
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin: 0 0 0.5em;
}

footer dl i {
    width: 1em;
    text-align: center;
    margin: 0 0.5em 0 0;
}

footer dl dd {
    padding: 0.2em 0.5em;
}

footer dl dd span {
    color: #0af;
    font-weight: 600;
}

@media screen and (max-width: 800px) {

footer dl {
    width: 50%;
    float: left;
}

footer dl dd a {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
}

footer dl dd a i {
    margin: 2px 0;
    float: right;
}

}

@media screen and (max-width: 480px) {

footer dl {
    width: 100%;
    float: none;
}

}

/* Footer Information
---------------------------------------------------------- */

footer ul {
    overflow: hidden;
    padding: 10px;
}

footer ul li {
    width: 50%;
    padding: 10px;
    float: left;
}

@media screen and (max-width: 480px) {

    footer ul li {
        width: 100%;
        float: none;
    }

}

/* Copyright
---------------------------------------------------------- */

#copyright {
    color: #fff;
    text-align: center;
    background: #145;
    margin: 20px 0 0;
    padding: 10px 0;
}

/* pagetop
---------------------------------------------------------- */

#pageTop a {
    display: block;
    width: 30px;
    height: 30px;
    color: #aaa;
    font-size: large;
    text-align: center;
    line-height: 30px;
    border: 1px solid #aaa;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px;
}

#pageTop a:hover {
    color: #145;
    border: 1px solid #145;
}