@charset "utf-8";

/* ==============================================================================

	Layout

 ============================================================================== */

#form-layout {
    margin: 20px 0 0;
}

#form-layout table {
    width: 100%;
    border-top: 1px dotted #ccc;
}

#form-layout table th,
#form-layout table td {
    width: 50%;
    vertical-align: middle;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
}

#form-layout table th span {
    color: #d34;
}

#form-layout form input[type="text"],
#form-layout form textarea,
#form-layout form select {
    width: 100%;
    outline: none;
    margin: 10px 0;
    padding: 10px;
}

#form-layout form input.submitBtn {
    width: 50%;
    margin: 20px auto 0;
    padding: 20px 0;
}

@media screen and (max-width: 480px) {

#form-layout table {
    overflow: hidden;
}

#form-layout table th,
#form-layout table td {
    width: 100%;
    float: left;
}

#form-layout table th {
    background: #f6f6f6;
}

#form-layout form input.submitBtn {
    width: 75%;
}

}

select.auto {
    width: 30% !important;
}





/* ==============================================================================

	Part

 ============================================================================== */

#content form input,
#content form textarea,
#content form select {
    font-family: 'Hind', sans-serif;
    font-size: medium;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    border-radius: 5px;
}

#content form input[type="submit"] {
    -webkit-appearance: none;
            appearance: none;
}

#content form input.submitBtn {
    display: block;
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: large;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border: none;
    background: #d34;
    cursor: pointer;
    position: relative;
    top: 0;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.25);
    box-shadow: 0 5px 0 #a12;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

#content form input.submitBtn:hover {
    color: #ff0;
    letter-spacing: 2px;
    top: 4px;
    box-shadow: 0 1px 0 #a12;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

::-webkit-input-placeholder {
    color:#ccc;
    font-size: small;
}

:-moz-placeholder {
    color:#ccc;
    font-size: small;
}

#content form .member_name,
#content form .member_mail {
    display: none;
}

.communication {
    color: #d34;
    border: 1px dashed #ddd;
    background: #fafafa;
    padding: 10px;
}