@charset "utf-8";


/* =======================================

	Page

======================================= */

section#page {
    border-top: 5px solid #145;
    padding: 20px 100px 40px;
    border-radius: 0 0 5px 5px;
}

#pageTtl {
    color: #145;
    font-family: 'Hind', sans-serif;
    font-size: xx-large;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    padding: 20px 100px;
}

.pageLabel {
    color: #888;
    font-family: 'Hind', sans-serif;
    font-size: x-large;
    line-height: 1.4;
    padding: 20px 0;
}

#page p {
    padding: 10px 0;
}

.pageList {
    padding: 5px 0;
}

.pageList li {
    padding: 5px 0;
}

.pageList li strong {
    padding: 0 20px 0 0;
}

#corpProfile {
    width: 100%;
    border-top: 1px dotted #ccc;
}

#corpProfile th, 
#corpProfile td {
    width: 50%;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px dotted #ccc;
}

@media screen and (max-width: 480px) {

#corpProfile {
    overflow: hidden;
}

#corpProfile th, 
#corpProfile td {
    width: 100%;
    float: left;
}

#corpProfile th {
    background: #f6f6f6;
}

}

.faqLabel {
    color: #094;
    font-family: 'Hind', sans-serif;
    font-size: x-large;
    line-height: 1.4;
    padding: 20px 0;
}

.accordion {
}

.accordion dt {
    color: #094;
	background: url("../images/question_open.png") 98% center no-repeat #f6f6f6;
	background-size: auto 25px;
	margin: 10px 0;
	padding: 10px 35px 10px 10px;
	cursor: pointer;
    border-radius: 5px;
}

.accordion dt:hover {
	background: url("../images/question_open.png") 98% center no-repeat #f1f6f1;
	background-size: auto 25px;
}

.accordion dt.open {
	background: url("../images/question_close.png") 98% center no-repeat #f1f6f1;
	background-size: auto 25px;
}

.accordion dd {
    background: #fff;
	margin: 0 0 20px;
	padding: 20px;
	display: none;
}

@media screen and (max-width: 800px) {

section#page {
    padding: 20px 50px 40px;
}

#pageTtl {
    padding: 20px 50px;
}

}

@media screen and (max-width: 480px) {

section#page {
    padding: 20px 10px 40px;
}

#pageTtl {
    padding: 20px 0;
}

}
















