@charset "utf-8";

/* =======================================

	Product Page

======================================= */

/* パンくず
----------------------------- */

#breadCrumb {
    font-size: small;
    background: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
}

#breadCrumb a {
    color: #0af;
    margin: 0 5px;
}

#breadCrumb a:hover {
    color: #145;
    text-decoration: underline;
}

/* 商品基本情報＋画像のラッパー
----------------------------- */

#productOverview {
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
}

/* 商品画像
----------------------------- */

#productImage {
    width: 50%;
    padding: 10px;
    float: left;
}

#mainImage-wrap {
    width: 460px;
    height: 460px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
    position:relative;
    overflow: hidden;
}

#mainImage {
    width: 100%;
    height: auto;
}

#thumbImage {
    overflow: hidden;
    margin: 5px -5px 0;
}

#thumbImage li {
    width: 21%;
    border: 1px solid #ddd;
    margin: 10px 2%;
    padding: 5px;
    float: left;
    position: relative;
    border-radius: 50%;
}

#thumbImage li img {
    border-radius: 50%;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

#thumbImage li img:hover {
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

@media screen and (max-width: 800px) {

#productImage {
    width: 100%;
    float: none;
}

#mainImage-wrap {
    width: 75%;
    height: auto;
    margin: 0 auto;
    float: right;
}

#thumbImage {
    width: 20%;
    margin: 0;
    float: left;
}

#thumbImage li {
    width: 80%;
    margin: 15px 10%;
    float: none;
}

}

@media screen and (max-width: 480px) {

#thumbImage li {
    width: 42%;
    margin: 20px 4%;
}


#mainImage-wrap {
    width: 100%;
    float: none;
}

#thumbImage {
    width: 100%;
    margin: 0;
    float: none;
}

#thumbImage li {
    width: 23%;
    margin: 15px 1% 0;
    float: left;
}

}

/* 為替レート
----------------------------- */

#rate {
    width: 100%;
    padding: 20px 0;
}

#rate h3 {
    font-size: large;
    text-align: center;
    background: #eee;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

#rate h3 i {
    margin: 0 10px 0 0;
}

#rate table {
    width: 100% !important;
    border: none !important;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
}

#rate table tr:first-child {
    display: none;
}

#rate table td {
    text-align: center !important;
    padding: 7px !important;
}

#rate a {
    display: none;
}


/* 商品基本情報
----------------------------- */

#productSummary {
    width: 50%;
    padding: 10px;
    float: right;
}

#productName {
    font-size: x-large;
    line-height: 1.4;
}

#productDisc {
    padding: 10px;
}

/* 商品情報-表
--------------- */

#productTerms {
    width: 96%;
    border-top: 1px dotted #ccc;
    margin: 10px 2%;
}

#productTerms tr:nth-child(even) {
    background: #fafafa;
}

#productTerms th,
#productTerms td {
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}

#productTerms th {
    width: 45%;
}

#productTerms td {
    width: 55%;
}

/* 値段とボタンのラッパー
--------------- */

#productOrder {
    overflow: hidden;
    line-height: 1;
    background: #f5f8ec;
    margin: 20px 0 0;
    padding: 20px;
    border-radius: 10px;
}

/* 値段
--------------- */

#productPrice {
    width: 50%;
    float: left;
}

#productPrice dt {
    color: #fff;
    background: #9b4;
    padding: 10px 0 10px 50px;
    position: relative;
    border-radius: 20px;
}

#productPrice dt i {
    width: 47px;
    height: 47px;
    color: #9b4;
    text-align: center;
    line-height: 40px;
    border: 4px solid #9b4;
    background: #fff;
    position: absolute;
    top: -5px;
    left: -8px;
    border-radius: 50%;
}

#productPrice dd {
    color: #8a3;
    font-size: xx-large;
    text-align: right;
    padding: 10px 0;
    clear: both;
}

#productPrice dd i {
    font-size: x-large;
    margin: 0 5px 0 0;
}

#productPrice span {
    font-family: 'Hind', sans-serif;
    font-size: x-small;
}

/* 購入ボタン
--------------- */

#productAdd {
    width: 50%;
    padding: 0 0 0 20px;
    float: right;
}

#content input.skubutton {
    display: block;
    width: 100%;
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: large;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border: none;
    background: #d34;
    padding: 25px 0;
    cursor: pointer;
    position: relative;
    top: 0;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.25);
    box-shadow: 0 5px 0 #a12;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

#content input.skubutton:hover {
    color: #ff0;
    letter-spacing: 2px;
    top: 4px;
    box-shadow: 0 1px 0 #a12;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

@media screen and (max-width: 800px) {

#productSummary {
    width: 100%;
    padding: 20px 10px 10px;
    float: none;
    clear: both;
}

}

@media screen and (max-width: 480px) {

#productSummary {
    padding: 10px;
}


#productTerms th {
    width: 100%;
    font-weight: 600;
    background: #fafafa;
    float: left;
}

#productTerms td {
    width: 100%;
    text-align: center;
    float: left;
}

#productTerms tr:nth-child(even) {
    background: none;
}

#productPrice {
    width: 100%;
    float: none;
}

#productAdd {
    width: 100%;
    padding: 5px 0;
    float: none;
}

}

/* 未サインイン
----------------------------- */

#notSingin {
    overflow: hidden;
    color: #e76;
    background: #fdf1f0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#notSingin img {
    display: block;
    width: 25%;
    margin: 0 auto 20px;
}

#notSingin a {
    display: block;
    width: 48%;
    color: #e76;
    text-align: center;
    border: 2px solid #e76;
    background: #fff;
    margin: 10px 1%;
    padding: 20px 0;
    float: left;
    position: relative;
    border-radius: 5px;
}

#notSingin a::after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #e76;
    border-right: 2px solid #e76;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    right: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media screen and (max-width: 480px) {

#notSingin {
    margin: 0;
}


#notSingin img {
    width: 50%;
}

#notSingin a {
    width: 100%;
    margin: 10px 0;
    float: none;
}

}


/* 商品説明（タブ切り替え）
----------------------------- */

#productInfo {
    width: 100%;
    padding: 10px;
}

/* タブ設定
--------------- */

#productTab {
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 1000;
}

#productTab li {
    width: 23%;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ccc;
    background: #f6f6f6;
    float: left;
    margin: 0 1%;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

#productTab li:nth-child(1) {
    color: #3ab;
}

#productTab li:nth-child(2) {
    color: #7a7;
}

#productTab li:nth-child(3) {
    color: #979;
}
#productTab li:nth-child(4) {
    color: #e76;
}

#productTab li i {
    margin: 0 0 0 10px;
    position: relative;
    top: 2px;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

#productTab li:hover {
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

#productTab li:nth-child(1):hover {
    background: #ebf6f8;
}

#productTab li:nth-child(2):hover {
    background: #f1f6f1;
}

#productTab li:nth-child(3):hover {
    background: #f4f1f4;
}
#productTab li:nth-child(4):hover {
    background: #fdf1f0;
}

#productTab li:hover i {
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#productTab li.select {
    background: #fff;
    border-bottom: 1px solid #fff;
}

#productTab li.select i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#productTab li.select:hover {
    background: #fff;
}

@media screen and (min-width: 801px) {

.disnon {
    display: none;
}

}

/* 商品詳細のラッパー
--------------- */

.tabWrap {
    border-top: 1px solid #ccc;
    margin: -1px 0 0;
    padding: 20px;
}

.productTtl {
    text-align: center;
    padding: 10px 0;
}

.productTtl i {
    width: 60px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding: 12px 0;
    border-radius: 50%;
}

.usp {
    color: #3ab;
}

.usp i {
    background: #3ab;
}

.target {
    color: #7a7;
}

.target i {
    background: #7a7;
}

.request {
    color: #979;
}

.request i {
    background: #979;
}

.support {
    color: #e76;
}

.support i {
    background: #e76;
}

.productLabel {
    font-size: x-large;
    line-height: 1.4;
    padding: 10px 0;
    border-bottom: 1px dotted;
}

.tabWrap-box {
    padding: 20px;
}

#targetList dt {
    padding: 10px;
}

#targetList dd {
    padding: 10px;
}

#targetList dt span {
    color: #7a7;
    font-weight: 600;
    line-height: 1;
    border: 2px solid #7a7;
    padding: 5px 20px;
    border-radius: 20px;
}

#skype {
    width: 80%;
    overflow: hidden;
    margin: 0 10%;
}

#skypeInfo {
    width: 80%;
    color: #fff;
    text-align: left;
    background: #2ae;
    padding: 15px 20px;
    float: left;
    position: relative;
    border-radius: 10px;
}

#skypeInfo:after {
	content: "";
	position: absolute;
	top: 50%; right: -10px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #2ae;
}

.skype-btn {
    width: 20%;
    text-align: left;
    float: right;
    margin: 5px 0 0;
}

#productForm {
    width: 80%;
    border: 2px dashed #e76;
    background: #fdf1f0;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

#productForm form {
    width: 75%;
    margin: 10px auto 0;
}

#productForm .member_name,
#productForm .member_mail,
#productForm .itemName,
#productForm .itemCode {
    display: none;
}

#productForm #formTtl {
    color: #e76;
    font-family: 'Hind', sans-serif;
    font-size: x-large;
    font-weight: 300;
}

#productForm form input,
#productForm form textarea {
    width: 100%;
    font-family: 'Hind', sans-serif;
    font-size: medium;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#productForm form textarea {
    height: 200px;
}

#productForm form ::-webkit-input-placeholder {
    color:#ccc;
}

#productForm form :-moz-placeholder {
    color:#ccc;
}

#productForm form input.submitBtn {
    display: block;
    width: 50%;
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: large;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border: none;
    background: #d34;
    margin: 10px auto;
    padding: 20px 0;
    cursor: pointer;
    position: relative;
    top: 0;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.25);
    box-shadow: 0 5px 0 #a12;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

#productForm form input.submitBtn:hover {
    color: #ff0;
    letter-spacing: 2px;
    top: 4px;
    box-shadow: 0 1px 0 #a12;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

@media screen and (max-width: 800px) {

#productTab {
    display: none;
}

.tabWrap {
    border-top: none;
    margin: 0;
}

#skype {
    width: 100%;
    margin: 0;
}

#productForm {
    width: 100%;
}

#productForm form {
    width: 100%;
}

}

@media screen and (max-width: 480px) {

.tabWrap {
    padding: 10px 0;
}

.tabWrap-box {
    text-align: center;
    padding: 10px 0;
}

#targetList dt {
    padding: 10px 0;
}

#targetList dd {
    padding: 10px 0;
}

#productForm {
    width: 100%;
    border: none;
    background: none;
    margin: 0 auto;
    padding: 0;
}

#productForm form input.submitBtn {
    width: 80%;
    margin: 20px auto 0;
}

}
